<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" style="background-color:#1E90FF;">
                        <h4 class="card-title" style="color:white;">Ajouter Une Seance</h4>
                    </div>
                    <div class="card-body">
                        <form class="box">
                              <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="dates">Date Science</label>  
                                  <input type="date" class="form-control" id="dates" >
                                </div>
                                
                              </div>
                              <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="hdebut">Heure Debut</label>
                                    <input type="time" class="form-control" id="hdebut">
                                  </div>
                                  <div class="form-group col-md-6">
                                    <label for="hdebut">Heure fin</label>
                                    <input type="time" class="form-control" id="hdebut">
                                  </div>                                
                              </div>
                              <div class="form-row">
                                <div class="form-group col-md-4">
                                    <input type="text" class="form-control" id="salle" placeholder="Salle">
                                  </div>
                                  <div class="form-group col-md-4">
                                    <input type="text" class="form-control" id="Montant" placeholder="Montant">
                                  </div>
                                  <div class="form-group col-md-4">                                    
                                    <input type="text" class="form-control" id="prixh" placeholder="prix heure">
                                  </div>                                
                              </div>
                                
                              <button type="submit" class="btn" style="background-color:#40E0D0;">Enregistrer</button>
                              <button type="reset" class="btn" style="background-color:#40E0D0;">Effacer</button> 
                        </form>
                    </div>
                </div>
            </div>
           
