<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header" style="background-color:#1E90FF;">
                        <h4 class="card-title" style="color:white;">Ajouter Un Etablissement</h4>
                    </div>
                    <div class="card-body">
                        <form class="box">
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                  <input type="text" class="form-control"  placeholder="Nom d'Etablissement" style="text-align: center;">
                                </div>
                              </div>
                              <div class="form-row">
                                <div class="form-group col-md-12">
                                  <input type="text" class="form-control"  placeholder="Adresse" style="text-align: center;">
                                </div>
                              </div>
                              <button type="submit" class="btn" style="background-color:#40E0D0;">Ajouter</button> 
                              <button type="reset" class="btn" style="background-color:#40E0D0;">Effacer</button> 
                        </form>
                    </div>
                </div>
            </div>
           
