<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header"  style="background-color:#1E90FF;">
                        <h4 class="card-title" style="color:white;">Ajouter Un Prof</h4>
                    </div>
                    <div class="card-body">
                        <form class="box">
                            <div class="form-group">
                                <label for="exampleFormControlFile1">Choisir une image</label>
                                <input type="file" class="form-control-file" id="exampleFormControlFile1">
                              </div>
                              <div class="form-row">
                                <div class="form-group col-md-6">
                                  <input type="text" class="form-control" id="cin" placeholder="cin">
                                </div>
                    
                              </div>
                              <div class="form-row">
                                <div class="form-group col-md-6">
                                  <input type="text" class="form-control" id="nom" placeholder="Nom">
                                </div>
                                <div class="form-group col-md-6">
                                  <input type="text" class="form-control" id="prenom" placeholder="Prénom">
                                </div>
                              </div>
                              <div class="form-row">
                                <div class="form-group col-md-6">
                                  <input type="email" class="form-control" id="Email" placeholder="Email">
                                </div>
                                <div class="form-group col-md-6">
                                  <input type="password" class="form-control" id="Password" placeholder="Mot De Passe">
                                </div>
                              </div>
                              <div class="form-group">
                                <input type="text" class="form-control" id="inputAddress" placeholder="Adresse">
                              </div>
                              <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="dateN">Date De Naissance</label>
                                  <input type="date" class="form-control" id="dateN">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="numtel">Numero de Téléphone</label>
                                  <input type="text" class="form-control" id="numtel" value="+216">
                                </div>
                              </div>
                              <div class="form-row">
                                <div class="form-group col-md-4">
                                  <input type="text" class="form-control" id="Diplome" placeholder="Diplome">
                                </div>
                                <div class="form-group col-md-4">
                                  <input type="text" class="form-control" id="Specialité" placeholder="Specialité">
                                </div>
                                <div class="form-group col-md-4">
                                    <input type="text" class="form-control" id="ND" placeholder="Niveau d'etude">
                                  </div>
                              </div>
                             
                                
                              <button type="submit" class="btn" style="background-color:#40E0D0;">Enregistrer</button>
                              <button type="reset" class="btn" style="background-color:#40E0D0;">Effacer</button> 
                        </form>
                    </div>
                </div>
            </div>
           